.App {
  text-align: center;
  background-color: #eee;
  margin-top: 3.8rem;
}

.App p {
  text-align: left;
  padding-left: 15%;
  padding-top: 2rem;
  margin-top: 5rem;
  min-height: 2rem;
  margin-bottom: 0;
}

.App h1 {
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-role {
  background-color: white;
}

/* div {
  background-color: #CCC;
} */